h1{
    color: lighten($color: #000000, $amount: 0);
    font-family: initial;
    font-style: initial;
    font: optional;

}

h2{
    color: lighten($color: #000000, $amount: 0);
    font-family: initial;
    font-style: initial;
    font: optional;

}
p{
    color: ivory;
    font-family: initial;
    font-style: initial;
    font: optional;
}
ul{
    color: khaki;
    font-family: initial;
    font-style: initial;
    font: optional;
}