<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>TRACK AND EXPLORE REPO</h1>
      <p>Get a desired repo at click of a tab</p>
      <h2>GLOBAL REPOS AVAILABLE</h2>
  
      <ul style="list-style-type: none;">
       
          <li>KENYAN</li>
          <li>NIGERIAN</li>
          <li>CANADIAN</li>
          <li>AND THE REST OF THE WORLD </li>      
          <p>The repos of people globally as outlined above</p>
         <p>AVAILABLE</p>
      </ul>
    </div>
  </div>
</div>



