h1{
    color: lawngreen;
    font-family: initial;
    font-style: unset;
    p{
        color: whitesmoke;
    }
}
h2{
    color: lawngreen;
    font-family: initial;
    font-style: unset 
}
p{
    color: whitesmoke;
}